shell=bash
disable=SC1091  # (not following source): run for the torbox.lib separately
disable=SC2024  # (sudo doesn't affect redirects): does not consider that the redirection is bound to another command, not to sudo
disable=SC2236  # (-n instead of ! -z): does not consider the variable is not an integer