APScheduler
Django==4.1.8
Flask
Flask-Cors
Flask-RESTful
Flask-SocketIO
PGPy
Pillow
PyNaCl
PySocks
aniso8601
asgiref
attrs
bcrypt
cffi
click
cryptography
eventlet
exceptiongroup
gunicorn
iniconfig
mechanize==0.4.7
numpy
opencv-python-headless
paramiko
peewee
peewee-migrate
pip-autoremove
pluggy
pycparser
pytesseract
pytest
python-socketio
pytz
pytz-deprecation-shim
requests
six
sqlparse
tornado
tzdata
tzlocal
urwid
