APScheduler==3.8.1
asgiref==3.5.0
backports.zoneinfo==0.2.1
click==8.0.3
Django==4.0.8
gunicorn==20.1.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
tzlocal==4.1
